 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color:white;
  color: black;
}

header {
  background-color: darkmagenta;
  color: white;
  text-align: center;
  padding: 30px 20px;
  position: sticky;
  top: 0;
  z-index: 100;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

nav a:hover {
  background-color: darkblue;
}

.hero {
  background: black;
  text-align: center;
  padding: 70px 20px;
}

.hero h1 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: red;
}

.hero p {
  font-size: 1.1rem;
  color: black;
}

#about {
  text-align: center;
  padding: 50px 20px;
}

.profile {
  width: 150px;
  border-radius: 50%;
  margin: 20px 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

#projects {
  padding: 50px 20px;
  background-color: #f4f4f4;
}

#projects h2 {
  text-align: center;
  margin-bottom: 20px;
}

#projects ul {
  max-width: 800px;
  margin: 0 auto;
  list-style: disc;
  line-height: 1.8;
}

#skills {
  padding: 50px 20px;
  text-align: center;
}

table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  box-shadow: 0 0 8px white(0, 0, 0, 0.1);
}

th, td {
  border: 1px solid black;
  padding: 10px;
}

th {
  background-color: #333;
  color: white;
}

tbody tr:nth-child(even) {
  background-color: white#f8f9fa;
}

#contact {
  padding: 50px 20px;
  background: white;
  text-align: center;
}

form {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: left;
}

label {
  font-weight: bold;
  margin-top: 10px;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid black;
  border-radius: 5px;
}

button {
  background-color: blue;
  color: black;
  border: none;
  padding: 12px;
  border-radius: 6px;
  margin-top: 15px;
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  background-color: red;
}
